* {
  padding: 0;
  margin: 0;
  font-family: Verdana, BlinkMacSystemFont, -apple-system, segoe ui, Roboto,
    Oxygen, Ubuntu, Cantarell, open sans, helvetica neue, sans-serif;

  scroll-behavior: smooth;
}
body {
  background-color: #171d21;
  font-family: "Poppins" sans-serif;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}
